# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
.DS_Store
*.swp
*.swo
*~.nib

# Build products
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (if used later)
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
iOSInjectionProject/
